.center {
    text-align: center;
 }
 .roomName {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
 }.textLink {
    display: inline-block;
 }
 .textLink:hover {
    cursor: pointer;
    color: blue;
 }
 .text {
    font-size: 18px;
 }
 .userDiv {
    text-align: right;
    font-size: 18px;
 }
 .button {
    height: auto;
    width: auto;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 14px;
    font-weight: bold;
 }
 .button:hover {
    background-color: lightgrey;
    cursor: pointer;
 }
 .errors {
    color: red;
    text-align: center;
 }
 .outerDiv {
    padding-left: 20%;
    display: flex;
    
 }
 .outerHomeDiv {
    padding-left: 25%;
    padding-right: 25%;
 }
 .innerDiv {
    flex: 0 0 50%;
    padding-left: 10%;
    padding-right: 10%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: grey;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
 }
 .pmlog {
    flex: 1;
    padding-left: 5%
 }
 .chats {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
 }
 .currentRoomUsers {
    display: inline-block;
 }